<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(~{::title})">
    <title>首页</title>
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--导航-->
<div th:insert="~{fragments/navigation :: nav(1)}"></div>

<!--中间内容-->
<div class="c-container c-padded-tb-big">
    <div class="ui container">
        <div class="ui mobile reversed stackable grid">
            <!--左边导航部分-->
            <div class="four wide column">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="column right aligned">
                                <a href="#">more <i class="icon angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">
                                学习日志
                                <div class="ui blue basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui blue basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui blue basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui blue basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui blue basic left pointing label">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments c-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="column right aligned">
                                <a href="#">more <i class="icon angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui blue segment">
                        <a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a><a href="#" target="_blank" class="ui blue basic left pointing label c-margin-tb-tiny">
                            spring
                            <div class="detail">33</div>
                        </a>
                    </div>
                </div>
                <!--最新推荐-->
                <div class="ui segments c-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment">
                        <a class="c-black c-text-thin" href="#" target="_blank">用户故事(User Story)</a>
                    </div><div class="ui segment">
                        <a class="c-black c-text-thin" href="#" target="_blank">用户故事(User Story)</a>
                    </div><div class="ui segment">
                        <a class="c-black c-text-thin" href="#" target="_blank">用户故事(User Story)</a>
                    </div><div class="ui segment">
                        <a class="c-black c-text-thin" href="#" target="_blank">用户故事(User Story)</a>
                    </div><div class="ui segment">
                        <a class="c-black c-text-thin" href="#" target="_blank">用户故事(User Story)</a>
                    </div><div class="ui segment">
                        <a class="c-black c-text-thin" href="#" target="_blank">用户故事(User Story)</a>
                    </div>
                </div>
                <!--二维码-->
                <h3 class="ui inverted horizontal divider header c-margin-top-large">扫码关注我</h3>
                <div class="ui centered card" style="width: 150px">
                    <img style="width: 150px" src="../static/images/wechat.png" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded">
                </div>
            </div>
            <!--右边博客列表部分-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui blue header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header c-inline-block c-text-thin">14</h2>篇博客
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large ">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment c-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <!--博客标题内容等-->
                            <div class="eleven wide column">
                                <h3 class="ui header">应届毕业生怎么找工作？</h3>
                                <p class="c-text">有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工
                                    作，从事那一类型的工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉...</p>
                                <!--作者，点赞数-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" class="header c-text-thin">李兰星</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-4-02
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 199
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label blue basic c-padded-small c-text-thin">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片-->
                            <div class="five wide column">
                                <!--图片链接，点击可以跳转文档-->
                                <a href="#" target="_blank">
                                    <img class="ui rounded image" src="https://i.picsum.photos/id/1006/200/120.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui button blue basic mini">上一页</a>
                        </div>
                        <div class="column right aligned">
                            <a href="#" class="ui button blue basic mini">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部-->
<div th:insert="fragments/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.c-item').toggleClass('c-mobile-hide')
    });
</script>

</body>
</html>