<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>博客详情</title>
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment c-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue header item">BuleStar Blog</h2>
            <a href="#" class="c-item item c-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="c-item item c-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="c-item item c-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="c-item item c-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="c-item item c-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="c-item item c-margin-left-large c-mobile-hide" style="margin-left: 120px">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="c-item right center aligned item ui inverted stackable vertical segment c-mobile-hide">
                <a href="#" class="item">登录</a>|
                <a href="#" class="item">注册</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button c-top-right c-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="c-container-small c-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://i.picsum.photos/id/1006/100/100.jpg" alt="" class="ui avatar image">
                    <div class="content">
                        <a href="#" class="header c-text-thin">李兰星</a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i> 2020-4-02
                </div>
                <div class="item">
                    <i class="eye icon"></i> 199
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!--图片区域-->
            <img class="ui fluid rounded image" src="https://i.picsum.photos/id/1006/300/150.jpg" alt="">
        </div>
        <!--主要内容-->
        <div class="ui attached padded segment">
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">原创</div>
            </div>
            <h2 class="ui center aligned header">应届毕业生怎么找工作？</h2>
            <br>
            <div id="content" class="c-padded-lr-responsive">
                <p>有许多刚步入社会的应届生，我想他们在找工作方面一定会感到非常的迷茫，不知道自己该从事哪一行业的工作，从事那一类型的
                    工作。其实应届毕业生对走出校园步入社会即将接触到的东西不熟悉，自然产生各种迷茫、害怕、畏惧;这也是正常的，但是关键
                    是如何去面对它，顺利地完成社会角色的转换才是第一要务。如果只知道意味的害怕迷茫根部不可能找到工作，立足于社会的。</p>
                <br>
                <p>其实刚开始出来工作的时候，我也经常受到迷茫的困扰。因为我感觉大学三年，好像什么都没有学过，莫名其妙的就毕业了。我很
                    多时候一直在想，是不是我从报考专业那天起，就开始迷茫了，稀里糊涂的报了专业，稀里糊涂的完成着自己的学业。当我踏出
                    校门，步入社会才发现自己什么都没学到，学了几年的专业没学会，导致没有一技之长，找不到工作。</p>
                <br>
                <p>如果一个人毕业之后，一直处于迷茫的状态，很多时候会导致三种结果的出现。第一种，开始不断的抱怨，抱怨这个社会的不公，
                    甚至做出一些极端的事情;第二种，在迷茫中失去方向，开始怀疑自己，怀疑自己的能力，渐渐的自卑、害怕、畏惧，这样无疑是
                    更加难找到工作的;第三种，也是较为积极的一种，有些毕业生在迷茫期时可以很快的调整自己，看清社会的发展动向，认准自己
                    的追求目标，从而走出迷茫期，很好的融入到这个社会之中。</p>
                <br>
                <p>迷茫最主要的原因还是自己因为没有及时的对自己的个人能力、综合素质、兴趣爱好以及市场需求等因素进行好好的分析，导致不
                    知道自己适合什么工作，该向哪一方向发展。找工作感到迷茫时，不妨根据自己的能力、市场未来的需求，为自己设置一个目标
                    ，只要自己努力一下就能实现的那种。目标可以是任何方面的,比如找一份自己喜欢的工作，或确定一种你需要的技能培训，通过
                    实现一个个小目标，让自己每天有点小进步，这样一定会有收获，我相信这样很快就会走出迷茫，更好的融入社会的。</p>
                <br>
                <p>毕业生刚出到社会，迷茫者十之八九。与其无所事事的去迷茫纠结，不如做点对自己将来有益的尝试，我相信未来的你一定会感谢
                    现在的你的。</p>
                <br>
            </div>
            <!--标签-->
            <div class="c-padded-lr-responsive">
                <div class="ui basic blue left pointing label">方法论</div>
            </div>
            <!--赞赏-->
            <div class="ui center aligned basic segment">
                <button id="payButton" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui payQ flowing popup top left transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <idv class="image">
                            <img src="../static/images/wechat.png" alt="" class="ui rounded bordered image" style="width: 120px">
                            <div>支付宝</div>
                        </idv>
                        <idv class="image">
                            <img src="../static/images/wechat.png" alt="" class="ui rounded bordered image" style="width: 120px">
                            <div>微信</div>
                        </idv>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者：李兰星（联系作者）</li>
                        <li>发表时间：2017-10-02 09:08</li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="../static/images/wechat.png" alt="" class="ui right floated rounded bordered image" style="width: 120px">
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <!--留言区域列表-->
            <div class="ui blue segment">
                <div class="ui threaded comments">
                    <h3 class="ui dividing header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评论</font></font></h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://i.picsum.photos/id/1006/100/100.jpg">
                        </a>
                        <div class="content">
                            <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">马特</font></font></a>
                            <div class="metadata">
                                <span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今天下午5:42</font></font></span>
                            </div>
                            <div class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                多么艺术！
                            </font></font></div>
                            <div class="actions">
                                <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://i.picsum.photos/id/1006/100/100.jpg">
                        </a>
                        <div class="content">
                            <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">傅lio</font></font></a>
                            <div class="metadata">
                                <span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">昨天上午12:30</font></font></span>
                            </div>
                            <div class="text">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">这对我的研究非常有用。</font><font style="vertical-align: inherit;">也谢谢！</font></font></p>
                            </div>
                            <div class="actions">
                                <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://i.picsum.photos/id/1006/100/100.jpg">
                                </a>
                                <div class="content">
                                    <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">珍妮·赫斯（Jenny Hess）</font></font></a>
                                    <div class="metadata">
                                        <span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">现在</font></font></span>
                                    </div>
                                    <div class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        艾略特，你总是很正确:)
                                    </font></font></div>
                                    <div class="actions">
                                        <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://i.picsum.photos/id/1006/100/100.jpg">
                        </a>
                        <div class="content">
                            <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">乔·亨德森</font></font></a>
                            <div class="metadata">
                                <span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5天前</font></font></span>
                            </div>
                            <div class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                杜德，太棒了。</font><font style="vertical-align: inherit;">非常感谢
                            </font></font></div>
                            <div class="actions">
                                <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field c-mobile-wide c-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="姓名">
                        </div>
                    </div>
                    <div class="field c-mobile-wide c-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="field c-mobile-wide c-margin-bottom-small">
                        <button class="ui blue button c-mobile-wide">
                            <i class="edit icon"></i>
                            发布
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部-->
<footer class="ui inverted vertical | segment c-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header c-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header c-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 2868714995@qq.com</a>
                    <a href="#" class="item">QQ: 2868714995</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header c-opacity-mini">博客介绍</h4>
                <p class="c-text-thin c-text-spaced c-opacity-mini">这是我的个人博客，会分享编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="c-text-thin c-text-spaced c-opacity-tiny">Copyright © 2020-2021 Alisa Designed by Alisa</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

    <script>
        $('.menu.toggle').click(function () {
            $('.c-item').toggleClass('c-mobile-hide')
        });

        $('#payButton').popup({
           popup : $('.payQ.popup'),
           on : 'click',
           position : 'bottom center'
        });
    </script>

</body>
</html>